name: First CI Workflow

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    outputs:
      build_time: ${{ steps.settime.outputs.time }}
      
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4

        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: run tests
        run: npm test

      - name: set time output
        id: settime
        run: echo "time=$(date +%s)" >> $GITHUB_OUTPUT


  test:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: checkout code
        uses: actions/checkout@v4
      
      - name: print build time
        run: echo "Build time was ${{ needs.build.outputs.build_time }}"

      - name: run test
        run: npm test
